<html>
	<head>
		<title>ReNEW | Supela,Bhilai</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="index.html">RENEW</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li>
								<a href="#">Booking</a>
								<ul>
									<li><a href="left-sidebar.html">Left Sidebar</a></li>
									<li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="no-sidebar.html">No Sidebar</a></li>
									<li>
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Option 1</a></li>
											<li><a href="#">Option 2</a></li>
											<li><a href="#">Option 3</a></li>
											<li><a href="#">Option 4</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="elements.html">About Us</a></li>
							<li><a href="#" class="button special">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<div id="banner">

					<div class="phone active-1"><%=image_tag ("globe.svg")%></div>


					<div class="content">
						<header>
							<h2 class="fntes">Get your phone screen<br> repaired</h2>
							<div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Mobile Brand (Apple, Oppo etc)" /></div><br>
							<div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Mobile set ( iPhone 6s etc)" /></div>
							<a href="#" class="button special mt3">See Prices</a>
						</header>

					</div>

					<div class="phones"><%= image_tag("phone.svg") %></div>
					<div><%= image_tag("lightning-bolt-shadow.svg", class: "phoners animated flip dur" ) %></div>
					<div class="container ">
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</div>
				<section class="pink">
					<div class="alli">
						<h1 class="fnt"> DID YOU JUST BREAK YOUR <br> MOBILE SCREEN? </h1>
					<div>
				</section>

				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<div class="box alt">
							<div class="row uniform">
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-area-chart"></span>
									<h3 class="fntes">ORDER A REPAIR </h3>
									<p>Select your phone's model, view prices & book a convinient repair time slot to confirm your service. You recieve a time SLOT NUMBER for furthur references. </p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-comment"></span>
									<h3 class="fntes">DROP YOUR PHONE </h3>
									<p>Walk in or have your phone delivered to us,along with your SLOT NUMBER  at our store located at Swastik, Aakash Ganga, Supela, Bhilai .</p>
								</section>
								<section class="4u$ 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-flask"></span>
									<h3 class="fntes">PICK UP THE RENEW PHONE </h3>
									<p>Collect your ReNew'd phone according to the time you selected in the Time Slot, Pay for the service on Pick up and Voila! Your phone is now just like new. </p>
								</section>
							</div>
						</div>
					</div>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><%= image_tag("pec.jpeg")%></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<header>
										<h2>Odio faucibus ipsum integer consequat</h2>
										<p>Nascetur eu nibh vestibulum amet gravida nascetur praesent</p>
									</header>
								</div>
								<div class="4u 12u$(medium)">
									<p>Feugiat accumsan lorem eu ac lorem amet sed accumsan donec.
									Blandit orci porttitor semper. Arcu phasellus tortor enim mi
									nisi praesent dolor adipiscing. Integer mi sed nascetur cep aliquet
									augue varius tempus lobortis porttitor accumsan consequat
									adipiscing lorem dolor.</p>
								</div>
								<div class="4u$ 12u$(medium)">
									<p>Morbi enim nascetur et placerat lorem sed iaculis neque ante
									adipiscing adipiscing metus massa. Blandit orci porttitor semper.
									Arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer
									mi sed nascetur cep aliquet augue varius tempus. Feugiat lorem
									ipsum dolor nullam.</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><%= image_tag("brk.jpg") %></span>
					<div class="content">
						<header>
							<h2>BROKE YOUR SCREEN ?</h2>
							<p>Awh, we got you covered. Book a SLOT online, Walk in to AAKASH GANGA, SUPELA, Bhilai and pickup according to the SLOT delivery time.</p>
						</header>
						<p>We are striving to to make it up-to be able to serve you with Pick Up and Delivery, just give us time.</p>
						<ul class="actions">
							<li><a href="#" class="button">Book a slot</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->


			<!-- Five -->
				<section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Keep hearing from the ReNEW Family</h2>
							<p>Leave us your E-mail down below so we could keep you updated with Discounts and new lauches</p>
						</header>
						<form method="post" action="#" class="container 50%">
							<div class="row uniform 50%">
								<div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
								<div class="4u$ 12u$(xsmall)"><input type="submit" value="Get Started" class="fit special" /></div>
							</div>
						</form>
					</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">

						<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; RENEW. All rights reserved.</li><li>Aakash Ganga Bhilai</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->

	</body>
</html>
