<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @model.name %>
</p>

<%= link_to 'Edit', edit_admin_model_path(id:@model, brand_id:params[:brand_id]) %> |
<%= link_to 'Back', admin_brands_path %>

<br>
<br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th> Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.price %></td>
        <td><%= link_to 'Show', admin_service_path(service) %></td>
        <td><%= link_to 'Edit', edit_admin_service_path(service) %></td>
        <td><%= link_to 'Destroy', admin_service_path(service), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to " Add a Service", new_admin_service_path(model_id: params[:id]) %>
