<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order_model.order_id %>
</p>

<p>
  <strong>Model:</strong>
  <%= @order_model.model_id %>
</p>

<%= link_to 'Edit', edit_order_model_path(@order_model) %> |
<%= link_to 'Back', order_models_path %>
