<!DOCTYPE html>
<html>
  <head>
    <title>Renew</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  </head>

  <body>
    <%- if(content_for?(:navbar)) %>
      <%= yeild(:navbar) %>
    <%- else %>
      <%= render('layouts/navbar') %>
    <%- end %>
    <%= yield %>
  </body>
</html>
